table.dataTable tbody tr.selected>*{
  box-shadow: inset 0 0 0 9999px #337ab7 !important;
}

.stripe>tbody>tr.odd.selected>*, .display>tbody>tr.odd.selected>* {
  box-shadow: inset 0 0 0 9999px #337ab7 !important;
}


.hover>tbody>tr.selected:hover>*, table.dataTable.display>tbody>tr.selected:hover>*{
  box-shadow: inset 0 0 0 9999px #337ab7 !important;
}

.progress-bar{
  background: #107c10 !important;
}

.dataTables_scrollBody, .dataTables_scroll{
  margin-bottom: 1em;
}

#downloadData {
  color: #fff;
  background-color: #337ab7;
}
